.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.center {
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
