.car {
  width: 90%;
  max-width: 400px;
  position: relative;
}
.car a {
  outline: none;
  text-decoration: none;
  color: #444;
}
.accept-offer {
  margin-bottom: 15px;
}
.actions {
  position: absolute;
  right: 0;
  top: 0;
}
.actions button {
  border-radius: 25px;
  margin: 5px;
}
